/* src/pages/NotFoundPage.css */
.not-found-container {
    padding: 245px 20px;
    text-align: center;
    background-color: #fdf2f2;
    min-height: 60vh;
}

.not-found-container h1 {
    font-size: 6rem;
    color:#ff6b81;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.back-home-link {
    margin-top: 60px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-home-link:hover {
    background-color: #ff4757;
}




/* Медиа-запросы */

/* ------ Ширина от 1240px до 1595px ------------ */
@media only screen and (min-width: 1240px) and (max-width: 1595px) {

}

/* ------ Ширина от 1025px до 1239px ------------ */
@media only screen and (min-width: 1025px) and (max-width: 1239px) {

}

/* ------ Ширина от 768px до 1024px ------------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/* ------ Ширина от 320px до 767px ------------ */
@media only screen and (min-width: 320px) and (max-width: 767px) {

}

