/* src/pages/NotFoundPage.css */
.not-found-container {
    padding: 245px 20px;
    text-align: center;
    background-color: #fdf2f2;
    min-height: 60vh;
}

.not-found-container h1 {
    font-size: 6rem;
    color:#ff6b81;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.back-home-link {
    margin-top: 60px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-home-link:hover {
    background-color: #ff4757;
}
