/* ==================== MEDIA QUERIES ==================== */

/* ------ Ширина от 1240px до 1595px ------------ */
@media only screen and (min-width: 1240px) and (max-width: 1595px) {

    .top-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-images-for-kids {
        margin-top: 30px;
    }

    .top-images-assesories {
        width: 336px;
        height: 260px;
        margin-left: 36px;
        margin-right: 36px;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

/* ------ Ширина от 1025px до 1239px ------------ */
@media only screen and (min-width: 1025px) and (max-width: 1239px) {
    .top-images {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .top-images-box {
        /*width: 30%;*/
        width: 48%;
    }

    .top-images-for-men {
        /*margin-left: 30px;*/
        /*margin-bottom: 30px;*/
    }

    .top-items-wrapper {
        /*gap: 20px;*/
        /*flex-wrap: wrap;*/
        /*justify-content: center;*/
    }

    .top-item {
        /*width: 30%;*/
    }

    .top-images-assesories {
        width: 45%;
    }

    .feature {
        padding-top: 50px;
        /*height: 1000px;*/
    }

    .feature-wrapper {
        height: 1700px;
        padding: 10px 10px;
    }

    .footer {
        width: 100%;
        padding: 100px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-2 {
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }
}

/* ------ Ширина от 768px до 1024px ------------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top {
        height: auto;
        padding: 60px 40px;
        background-position: left top;
        background: rgb(241, 228, 230);
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .top:hover {
        background: rgb(241, 228, 230);
        background-image: none;
    }

    .top__link {
        padding-top: 60px;
        margin-right: 0;
        line-height: 10px;
        letter-spacing: 0;
        display: flex;
        justify-content: center;
    }

    .top__title h2,
    .top__title h4 {
        display: block;
        height: 40px;
        align-items: start;
        color: #fff;
    }

    .top-images-wrapper {
        padding: 20px;
        margin-top: 50px;
        max-width: 100%;
    }

    .top-images,
    .top-images-2 {
        /*padding: 0;*/
        /*flex-wrap: wrap;*/
        /*!*justify-content: center;*!*/
        /*gap: 15px;*/
        justify-content: center;
        gap: 20px;
    }

    .top-images-assesories {
        margin-top: 30px;
        width: 360px;
        height: 260px;
}

.top-images-box {
width: 30%;
}

.top-items-wrapper {
width: 100%;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.top-item {
width: 45%;
}

.feature {
height: 800px;
padding: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.feature__part {
width: 450px;
height: 130px;
margin: 60px 0;
align-items: center;
}

.feature__description {
width: 400px;
}

.feature-wrapper,
.subscribe-wrapper,
.footer {
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.subscribe {
width: 100%;
padding: 100px 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.subscribe-part {
margin-bottom: 40px;
width: 80%;
align-items: center;
}

.subscribe-form {
width: 760px;
height: 242px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.subscribe-form__input {
flex-wrap: wrap;
gap: 15px;
justify-content: center;
}

.footer {
width: 100%;
padding: 100px 10px;
display: flex;
flex-direction: column;
align-items: center;
}

    .footer-2 {
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }

.copyright {
margin: 30px 0 0 0;
flex-direction: column;
text-align: center;
}

.social {
flex-direction: row;
}

.header {
padding: 15px 40px;
height: auto;
}
}

/* ------ Ширина от 320px до 767px ------------ */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .brand-container {
        max-width: 767px;
    }

    .header {
        flex-direction: column;
        padding: 10px 20px;
        height: auto;
    }

    .header__logo,
    .header__menu-bar {
        /*width: 100%;*/
        justify-content: space-between;
        padding: 10px 0;
        margin-left: 0;
    }

    .top {
        height: auto;
        padding: 40px 10px;
        background-position: center;
        background-image: none;
        background: rgb(241, 228, 230);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top__link {
        padding-top: 20px;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .top__title h2,
    .top__title h4 {
        margin-left: 20px;
        height: 40px;
        display: block;
        align-items: start;
        color: #222;
    }

    .top__title h2 {
        font-family: Lato, serif;
        font-size: 24px;
        font-weight: 700;
    }

    .top__title h4 {
        font-family: Lato, serif;
        font-size: 22px;
        font-weight: 300;
    }

    .top-images-wrapper {
        margin-top: 20px;
        max-width: 1960px;
    }

    .top-item-image-container {
        /*width: 300px;*/
        padding-right: 20px;
    }

    .top-images,
    .top-images-2 {
        /*padding: 0;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*gap: 10px;*/
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .top-images-box {
        /*width: 310px;*/
        /*!*height: 260px;*!*/
        /*margin-bottom: 20px;*/
        width: 100%;
    }

    .top-images-for-women,
    .top-images-for-men,
    .top-images-for-kids,
    .top-images-assesories {
        margin: 20px 0;
    }

    .top-images-assesories {
        /*width: 310px;*/
        /*!*height: 360px;*!*/
        /*padding: 0;*/
        /*justify-content: center;*/
        width: 100%;
    }

    .top-items {
        margin: 20px 0 100px;
        padding: 20px 0;
    }

    .top-items-wrapper {
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .top-item,
    .top-item__text {
        width: 320px;
        margin-bottom: 20px;
        padding-right: 20px;
    }

    .top-item__text p {
        padding-right: 20px;
    }

    .next-button {
        margin-top: 20px;
    }

    .feature {
        /*height: 900px;*/
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-wrapper {
        height: 950px;
    }

    .feature__part {
        width: 300px;
        height: 130px;
        margin: 80px 0;
    }

    .feature__description p {
        line-height: 17px;
    }

    .feature-wrapper,
    .subscribe-wrapper,
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

    .subscribe {
        padding: 160px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe-part {
        width: 300px;
        margin-bottom: 40px;
        transition: transform 0.3s;
    }

    .subscribe-part:hover {
        transform: scale(0.8);
    }

    .subscribe-form {
        width: 310px;
        height: 242px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s;
    }

    .subscribe-form:hover {
        transform: scale(1);
    }

    .subscribe-form__input {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .footer {
        width: 100%;
        height: 500px;
        padding: 100px 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-2 {
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }

    .copyright {
        margin-bottom: 30px;
        margin-left: 0;
        text-align: center;
    }

    .copyright a p {
        margin-top: 40px;
        padding-left: 10px;
        color: #ff8080;
    }

    .social {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .search-form {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .search-form input {
        width: 100%;
    }


    .page-container {
        justify-content: center;
    }

    .search-form button {
        margin-left: 0;
        padding: 10px;
    }
}
