.dropdown-menu {
    padding-bottom: 20px;
    width: 220px;
    top: 55px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    display: none;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown-menu h3 {
    font-size: 16px;
    color: rgb(241, 109, 127);
    padding: 20px 0 0 10px;
    margin: 0;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 5px 0 0 18px;
    margin-right: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: transform 1s;
}

.dropdown-menu li:hover {
    margin-right: 10px;
    border-bottom: 2px solid #f0f0f0;
    transform: translateX(6px);
}

.dropdown-menu li a {
    text-decoration: none;
    color: rgb(111, 110, 110);
    font-size: 14px;
}

.dropdown-menu li a:hover {
    color: rgb(241, 109, 127);
}

.menu {
    position: relative;
}

.menu:hover .dropdown-menu,
.menu:focus .dropdown-menu {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
