@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato"), url("../fonts/Lato-Light.ttf") format("ttf"), url("../fonts/Lato-Regular.ttf") format("ttf"), url("../fonts/Lato-SemiBold.ttf") format("ttf"), url("../fonts/Lato-Medium.ttf") format("ttf"), url("../fonts/Lato-Bold.ttf") format("ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", serif;
    margin: auto;
    overflow-x: hidden;
    min-width: 320px;
}

img {
    max-width: 100%;
}

a {
    color: white;
}

.header-container,
.footer-container {
    margin: 0 auto;
    max-width: 100%;
    background: rgb(34, 34, 34);
}

.brand-container {
    margin: 0 auto;
    max-width: 1600px;
    background: rgb(255, 255, 255);
}


.header {
    margin: 0 auto;
    max-width: 1600px;
    height: 75px;
    padding: 20px 200px;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    padding-right: 50px;
    transition: transform 1s;
}

.search {
    padding-top: 7px;
    transition: transform 1s;
}

.header__menu-bar {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu {
    padding-top: 8px;
    padding-bottom: 58px;
}

.account {
    padding-top: 3px;
    padding-left: 50px;
    transition: transform 1s;
}

.cart {
    padding-top: 5px;
    padding-left: 50px;
    transition: transform 1s;
}

.logo:hover,
.search:hover,
.account:hover,
.cart:hover {
    transform: scale(1.05);
}

.top {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    height: 764px;
    background: rgb(241, 228, 230) url("../img/top/top.png") no-repeat 25% 15%;
    transition: background 2s ease;
}

.top:hover {
    background: rgb(241, 228, 230) url("../img/top/top.png") no-repeat 37% 15%;
}

span {
    color: rgb(241, 109, 127);
}

.top__link {
    padding-top: 350px;
    margin-right: 150px;
    line-height: 10px;
    letter-spacing: 0;
    display: flex;
    justify-content: flex-end;
    transition: transform 1s;
}

.top__link:hover {
    transform: translateX(-15px);
}

.top__title {
    padding-top: 28px;
    padding-right: 10px;
    border-left: 12px solid rgb(241, 109, 127);
}

.top__title a {
    display: block;
    margin-left: 10px;
    text-align: left;
}

.top__title h2,
.top__title h4 {
    margin-left: 20px;
    display: block;
    height: 40px;
    align-items: start;
    color: rgb(34, 34, 34);
}

.top__title h2 {
    font-family: Lato, serif;
    font-size: 42px;
    font-weight: 700;
}

.top__title h4 {
    font-family: Lato, serif;
    font-size: 32px;
    font-weight: 300;
}

.brand-container {
    margin-bottom: 100px;
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 230px 0;
}

.top-images-wrapper {
    max-width: 1960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.top-images {*/
/*    width: 100%;*/
/*    padding: 100px 230px 0;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-wrap: wrap;*/
/*}*/

.top-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.top-images-2 {
    /*width: 100%;*/
    /*padding: 0 230px 0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}

.top-images-for-women {
    /*width: 360px;*/
    /*height: 260px;*/
    /*margin-bottom: 30px;*/
    background-image: url("../img/top-images/1.jpg");
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: transform 3s;*/
}

.top-images-for-women:hover {
    background-image: url("../img/top-images/1-hover.png");
    /*background-repeat: no-repeat;*/
    /*transform: scale(1.05);*/
}

.top-images-for-men {
    /*width: 360px;*/
    /*height: 260px;*/
    margin: 0 36px;
    background-image: url("../img/top-images/2.jpg");
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: transform 3s;*/
}

.top-images-for-men:hover {
    background-image: url("../img/top-images/2-hover.png");
    /*background-repeat: no-repeat;*/
    /*transform: scale(1.05);*/
}

.top-images-for-kids {
    /*width: 360px;*/
    /*height: 260px;*/
    /*margin-top: 30px;*/
    background-image: url("../img/top-images/3.jpg");
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: transform 3s;*/
}

.top-images-for-kids:hover {
    background-image: url("../img/top-images/3-hover.png");
    /*background-repeat: no-repeat;*/
    /*transform: scale(1.05);*/
}

.top-images-for-women a, .top-images-for-men a, .top-images-for-kids a {
    padding: 40px 100px;
}

.top-images-assesories {
    /*width: 1140px;*/
    /*width: 100vh;*/
    /*height: 180px;*/
    margin-top: 30px;
    padding-bottom: 70px;
    background-image: url("../img/top-images/4.jpg");
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: transform 3s;*/
    height: 260px;
}

.top-images-assesories:hover {
    background-image: url("../img/top-images/4-hover.png");
    /*background-repeat: no-repeat;*/
    /*transform: scale(1.05);*/
}
/**/
.top-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.top-images-box {
    width: 30%;
    min-width: 280px;
    height: 260px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s;
}

.top-images-box:hover {
    transform: scale(1.05);
}

.top-images-assesories {
    width: 100%;
}
/**/

.top-items {
    /*padding: 80px 230px 40px;*/
    /*margin-bottom: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-items-title {
    width: 316px;
    transition: transform 10s;
    text-align: center;
    align-items: center;
}

.top-items-title h2 {
    color: rgb(34, 34, 34);
    font-family: Lato, serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    transition: transform 10s;
}

.top-items-title h2:hover {
    color: rgb(241, 109, 127);
    transition: color 0.5s ease-in-out;
    transform: translateY(0);
}

.top-items-title p {
    color: rgb(159, 159, 159);
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    transition: transform 10s;
}

.top-items-title p:hover {
    color: rgb(241, 109, 127);
    transition: color 0.5s ease-in-out; 
    font-weight: 200;
    /*transform: translateX(-1.5px);*/
}

.top-items-wrapper {
    max-width: 1400px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-item {
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    transition: transform 3s;
    transform: scale(1);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-item:hover {
    transform: scale(1.1);
}

.top-item img:hover {
    transform: scale(1.1);
}

.top-item img {
    display: block;
    width: 360px;
    height: 420px;
    object-fit: cover;
    transition: transform 3s;
}

.top-item::before {
    content: "";
    position: absolute;
    top: -92px;
    left: 0;
    width: 100%;
    height: 96%;
    background-image: url("../img/top-items/hover-to-cart.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    /* Клики проходят через псевдоэлемент */
    z-index: 1;
}

.top-item:hover::before {
    opacity: 1;
    transition: opacity 0.6s;
}

.top-item__text {
    width: 360px;
    padding: 24px 16px 24px 16px;
    background: rgb(248, 248, 248);
}

.top-items h4 {
    color: rgb(0, 0, 0);
    font-family: Lato, serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 24px;
}

.top-items p {
    color: rgb(93, 93, 93);
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 24px;
}

.top-item__size {
    margin-left: -4px;
}

.top-item__size select {
    border: none;
}

.top-item__price {
    color: rgb(241, 109, 127);
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
}

.next-button {
    width: 212px;
    border: 1px solid rgb(242, 99, 118);
    /*transition: border 0.3s ease-in-out;*/
    align-items: center;
    color: rgb(242, 99, 118);
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    transition: transform 1s;
}

.next-button a {
    display: block;
    padding: 12px 0;
    color: rgb(242, 99, 118);
}

.next-button:hover,
.next-button a:hover {
    background: rgb(242, 99, 118);
    color: rgb(255, 255, 255);
    transition: background 0.6s ease-in-out;
    text-align: center;
    transform: scale(1.05);
}

.feature {
    width: 100%;
    background: rgb(34, 34, 36);
    padding: 200px 1px;
}

.feature-wrapper {
    margin: 0 auto;
    max-width: 1600px;
    /*height: 341px;*/

    background: rgb(34, 34, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feature__part {
    width: 360px;
    height: 134px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s;
}

.feature__part:hover {
    transform: scale(0.9);
}

.feature__icon {
    margin-bottom: 50px;
}

.feature__title {
    margin-bottom: 20px;
    color: rgb(251, 251, 251);
    font-family: Lato, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.feature__description {
    color: rgb(251, 251, 251);
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
}

.subscribe {
    margin: 0 auto;
    width: 100%;
    background-image: url("../img/footer.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    /*    background-size: contain;   */
    transition: background 0.8s ease;
}

.subscribe:hover {
    background-position: 0 0;
    background-image: url("../img/footer-new.jpg");
    background-repeat: no-repeat;   
    transition: background 0.8s ease;
    
}

.subscribe-wrapper {
    margin: 0 auto;
    max-width: 1600px;
    padding: 100px 70px 100px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subscribe-part {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.subscribe-part:hover {
    transform: scale(1.2);
}

.subscribe__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.subscribe__description {
    color: rgb(34, 34, 36);
    font-family: Lato, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}

.subscribe-form {
    width: 660px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.subscribe-form:hover {
    transform: scale(1.2);
}

.subscribe-form__title {
    margin-left: -15px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: rgb(34, 34, 36);
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 167.2%;
    letter-spacing: 0;
    text-align: center;
}

.subscribe-form__description {
    padding-bottom: 20px;
    color: rgb(34, 34, 36);
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 167.2%;
    letter-spacing: 0;
    text-align: center;
}

.subscribe-form__input {
    display: flex;
    align-items: center;
}

.input-field {
    flex: 1;
    margin-right: 0;
}

.input-field input {
    width: 100%;
    background: rgb(225, 225, 225);
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    color: rgb(34, 34, 36);
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}

.input-field input:hover {
    background: rgb(255, 255, 255);
    transition: background 0.3s ease-in-out;
}

.input-field input:hover::placeholder {
    color: red;
    transition: color 0.3s ease-in-out;
}

.input-field input:-ms-input-placeholder {
    color: red;
    transition: color 0.3s ease-in-out;
}

.input-field input::-ms-input-placeholder {
    color: red;
    transition: color 0.3s ease-in-out;
}

.subscribe-button {
    padding: 10px 20px;
    background: rgb(241, 109, 127);
    border: 1px solid rgb(241, 109, 127);
    border-radius: 0 20px 20px 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: rgb(255, 77, 77);
    transition: background-color 0.3s ease-in-out;
}

.footer {
    margin: 0 auto;
    max-width: 1600px;
    padding: 30px 30px 20px 0;
    height: 79px;
    background: rgb(34, 34, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*    justify-content: flex-start;*/
}

.footer-2 {
    height: 79px;
    display: flex;
    justify-content: start;
    /*text-align: center;*/
    padding-left: 537px;
}

.copyright {
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    transition: transform 3s;
    margin-left: 310px;
}

.copyright a p {
    color: rgb(255, 128, 128);
    transition: transform 3s;
}

.copyright a p:hover {
    color: rgb(251, 251, 251);
    transition: color 0.3s ease-in-out;
    transform: scale(0.9);
}

.footer-block {
    display: inline-block;
    height: 27px;
    width: 470px;
    /*    background-color: aliceblue;*/
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 385px;
}

/*.social img {*/
/*    margin-left: 10px;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background: rgb(255, 255, 255);*/
/*    transition: transform 3s;*/
/*}*/

/*.social img:hover {*/
/*    background-color: rgb(255, 128, 128);*/
/*    transition: background-color 0.3s ease-in-out;*/
/*    transform: scale(1.2);*/
/*}*/

.social-icon1 {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/1.png");
    background-color: rgb(255, 255, 255);
    transition: transform 3s;
}

.social-icon1:hover {
    width: 32px;
    height: 32px;
    background-image: url("../img/1-hover.png");
    background-color: rgb(255, 128, 128);
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.2);
}

.social-icon2 {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/2.png");
    background-color: rgb(255, 255, 255);
    transition: transform 3s;
}

.social-icon2:hover {
    width: 32px;
    height: 32px;
    background-image: url("../img/2-hover.png");
    background-color: rgb(255, 128, 128);
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.2);
}

.social-icon3 {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/3.png");
    background-color: rgb(255, 255, 255);
    transition: transform 3s;
}

.social-icon3:hover {
    width: 32px;
    height: 32px;
    background-image: url("../img/3-hover.png");
    background-color: rgb(255, 128, 128);
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.2);
}

.social-icon4 {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/4.png");
    background-color: rgb(255, 255, 255);
    transition: transform 3s;
}

.social-icon4:hover {
    width: 32px;
    height: 32px;
    background-image: url("../img/4-hover.png");
    background-color: rgb(255, 128, 128);
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.2);
}

